@font-face {
  font-family: "Cormorant Garamond";
  font-style: normal;
  font-display: swap;
  font-weight: 300 700;
  src: url("@fontsource-variable/cormorant-garamond/files/cormorant-garamond-latin-wght-normal.woff2") format("woff2-variations");
}

@font-face {
  font-family: "Cormorant Garamond";
  font-style: italic;
  font-display: swap;
  font-weight: 300 700;
  src: url("@fontsource-variable/cormorant-garamond/files/cormorant-garamond-latin-wght-italic.woff2") format("woff2-variations");
}

@font-face {
  font-family: "Cinzel";
  font-style: normal;
  font-display: swap;
  font-weight: 400 900;
  src: url("@fontsource-variable/cinzel/files/cinzel-latin-wght-normal.woff2") format("woff2-variations");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url("@fontsource-variable/inter/files/inter-latin-wght-normal.woff2") format("woff2-variations");
}
